.header {
    font-size: 1.33rem;
    height: 10rem;
}

.header .fixed-head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}

.header .fixed-nav {
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}

.head-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.nav-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    height: 3.833rem;
}

.main-nav {
    width: 55%;
    max-width: 960px;
}

.main-nav a {
    color: #86909c;
}

.main-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.nav-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.nav-list ul li {
    padding: 0 12px;
    font-size: 1.16rem;
}

.header-list {
    display: flex;
    flex: 4;
}

.header-list li {
    flex: 1;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 80px;
}

.header-list li a {
    color: #86909c;
}

.search-list {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_btn {
    flex: 1;
}

.current {
    color: skyblue !important;
}

.search-list li:nth-child(1) {
    flex: 1.5;
}

.search-list li:nth-child(2) {
    flex: 1;
}

.search-list li:nth-child(3) {
    flex: 1;
}

.search-li form div {
    background-color: #f4f5f5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 2px;
}

.search-li {
    padding: 0 12px;
}

.search-li input {
    flex: 4;
    border: none;
    width: 11rem;
    padding: 0.6rem 0 0.6rem 1rem;
    box-shadow: none;
    outline: none;
    font-size: 1.1rem;
    color: #666;
    background-color: transparent;
    transition: width 0.3s;
}

.search-li img {
    flex: 2;
    cursor: pointer;
    padding-top: 5px;
}

.search-btn {
    background-color: #e8f3ff;
    color: #1e80ff;
    padding: 5px 16px;
    font-size: 14px;
    line-height: 22px;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 0.83rem;
}

.write-notes {
    display: flex;
    align-items: center;
    position: relative;
    height: 2.667rem;
    cursor: pointer;
    margin-left: 1.66rem;
}

.write-notes .more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    border-left: 1px solid hsla(0, 0%, 100%, 0.1);
    height: 100%;
    color: #fff;
    background-color: #1e80ff;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.write-notes button {
    padding: 0 1.3rem;
    font-size: 1.167rem;
    white-space: nowrap;
    height: 100%;
    color: #fff;
    background-color: #1e80ff;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    cursor: pointer;
}

.write-notes img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.login_btn {
    border: 1px solid #007fff;
    background-color: #fff;
    padding: 0.3rem 1.7rem;
    color: #007fff;
    line-height: 1.9rem;
    margin-left: 1.25rem;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.main-content {
    flex: 3;
    max-width: 708px;
}

.sidebar {
    flex: 1;
    max-width: 240px;
    margin-left: 1.6rem;
    position: fixed;
    right: 320px;
}

.author {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5rem;
    background-color: #fff;
}

.avatar {
    flex: 1;
}

.info {
    flex: 4;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.info h1 {
    margin: 0;
    padding: 0;
    font-size: 2.167rem;
    font-weight: 600;
    line-height: 1.2;
    color: #000;
}

.follow-btn {
    flex: 1;
}

.avatar img {
    width: 90px;
    height: 90px;
}

.position {
    font-size: 1.25rem;
    line-height: 1.5;
    color: #72777b;
    overflow: hidden;
}

.intro {
    font-size: 1.25rem;
    line-height: 1.5;
    color: #72777b;
    overflow: hidden;
}

.author-name {
    flex: 2;
}

.position {
    flex: 1;
    margin-top: 10px;
}

.intro {
    flex: 1;
    margin-top: 10px;
}

.follow-btn {
    width: 9rem;
    color: #6cbd45;
    margin: 1rem 0 0;
    padding: 0;
    height: 2.834rem;
    font-size: 1.333rem;
    font-weight: 500;
    line-height: 1.2;
    border: 1px solid;
    background-color: #fff;
    border-radius: 4px;
}

.action-box {
    margin-top: 4rem;
}

.header-content {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 630px;
    white-space: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}

.header-content li {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 78px;
}

.header-content li a {
    font-size: 1.333rem;
    font-weight: 500;
    color: #31445b;
    cursor: pointer;
}

.select {
    box-shadow: inset 0 -2px 0 #3780f7;
}

.source-header {
    line-height: 43px;
    padding: 0 20px;
    height: 43px;
    border-bottom: 1px solid #ebebeb;
    font-size: 13px;
}

.source-header span {
    color: #8a9aa9;
}

.author-info {
    display: flex;
    align-items: center;
}

.user-popover-box img {
    flex: 0 0 auto;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
}

.author-info-content {
    margin-left: 1rem;
    font-size: 15px;
    color: #8a9aa9;
}

.author-info-head {
    font-weight: 600;
    font-size: 15px;
    color: #17181a;
}

.follow-btn-user {
    margin: 0 0 0 auto;
    padding: 0;
    width: 55px;
    height: 26px;
    font-size: 13px;
    border-color: #6cbd45;
    color: #6cbd45;
    border: 1px solid #37c700;
    background-color: #fff;
}

.meta-box {
    display: flex;
}

.meta-box {
    font-size: 13px;
}

.post-header {
    padding: 16px 20px 0;
}

.post-item-image {
    width: 80px;
    height: 65px;
    background-color: #eee;
    border-radius: 2px;
    flex: 0 0 auto;
}

.post-item-content {
    margin-left: 56px;
    padding: 6px 20px 10px;
}

.post-item-title h3 {
    margin: 0;
    display: inline;
    font-size: 17px;
    color: #17181a;
    line-height: 1.5;
}

.rich-content {
    display: flex;
    margin-top: 3px;
    padding: 3px 0;
}

.post-item-excerpt {
    margin-right: 16px;
    font-size: 15px;
    color: #5c6066;
    line-height: 1.53;
    flex: 1 1 auto;
}

.post-item-actions {
    display: flex;
    position: relative;
    margin-top: 3px;
    height: 34px;
    border-top: 1px solid #ebebeb;
}

.like-action {
    flex: 1 1 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    cursor: pointer;
    border-right: 1px solid #ebebeb;
}

.action-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-action {
    flex: 1 1 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    cursor: pointer;
}

.share-action {
    flex: 1 1 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    cursor: pointer;
}

.activity-item {
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 0.2rem;
}

.achievement {
    background-color: #fff;
    margin-bottom: 1rem;
}

.achievement h2 {
    margin: 0;
    padding: 1.333rem;
    font-size: 1.333rem;
    font-weight: 600;
    color: #31445b;
    border-bottom: 1px solid rgba(230, 230, 231, 0.5);
}

.block-body {
    padding: 1.333rem;
}

.achieve-item {
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    margin-bottom: 0.8rem;
    color: #000;
}

.achieve-item svg {
    margin-right: 1.25rem;
}

.follow-box {
    display: flex;
    position: relative;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.follow-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 50%;
    background-color: #f3f3f4;
    transform: translate(-50%, -50%);
}

.follow-item {
    flex: 1;
    padding: 1.333rem 0;
    text-align: center;
    color: #31445b;
    font-weight: 500;
    font-size: 1.333rem;
}

.more-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1.25rem 0.417rem;
    font-size: 1.25rem;
    color: #000;
    border-top: 1px solid rgba(230, 230, 231, 0.5);
}

.more-item:nth-child(1) {
    border-top: 1px solid rgba(230, 230, 231, 0.5);
}